.Home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 100vw;
  height: 100vw; */
}
.Home>.TopImagesTitle{
  /* background-color: aquamarine; */
  /* margin: 40px; */
margin-top: 0px;
font-size: 130%;
margin-top: 0px;
text-align: center;
color: steelblue;
}
.Home>.TopImagesContainer>.CarouselWrapper{
position: relative;
width: 100%;
height: 100%;
}

.Home>.TopImagesContainer{
  display: flex;
  height: 400px;
  width: 100%;
  max-width: 800px;
}
.CarouselArrowLeft , .CarouselArrowRight{
  position: absolute;
  font-size: 40px;
  top: 50%;
  transform: translate(0,-50%);
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-bottom: 7px;
  cursor: pointer;
}

.CarouselArrowLeft{
  left: 15px;
}

.CarouselArrowRight{
  right: 15px;
}

.CarouselPagination{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.Pagination_dot{
  height: 10px;
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}
.Pagination_dot:hover{
  transform: scale(1.2);
}
.Pagination_dot-active{
  background-color: steelblue;
}