html, body, #root{
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  font-size: x-large;
  background-color: rgb(250, 251, 250);
}

a{
  color: rgb(20, 126, 255);  
}

.active{
  display:none;
}

.Box{
  display: inline-block;
  margin: 11px;
  text-align: left;
   box-shadow: 0 0 12px 3px rgb(181, 180, 181);
  border-radius: 4px;
  transform: scale(0.9);
  transition: transform 0.7s cubic-bezier(0,0,0.3,1);
  cursor: pointer;
  position: relative;  
}

.Box:hover{
  transform: scale(1);
}

.TextBox{
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 250px;
  text-align: left;
  border: 1px solid black;
  box-shadow: 0 0 12px 6px rgb(12, 0, 0);
  border-radius: 10px;
  text-decoration: none;
}

.Box > div{
  position: relative;
}

.Box text{
  position: relative;
} 
