.Register {
  width: 450px;
  margin: 20px;
  padding: 20px; 
}

.Register > h2 {
  font: 1.5em sans-serif;
  font-weight: inherit;
  text-align: center;
}

.Register span {
  color: rgb(245, 78, 78);
}

.Register .Textfield{
  width: 100%;
  margin: 5px 0;
}

.Register .ButtonField{
  display: block;
  width: 50%;
  margin:0 auto;
}